*{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	outline:none;


}



html{ scroll-behavior: smooth;}

/*start of home css*/

/*slideshow*/

.slideshow-container{
	display: flex;
	justify-content: center;

}

.top-img > .mySlides > img{	
	position: relative;
	top: 7em;
	height: 51.5em;
	width: 60em;
	
}


.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.dot {
  visibility: hidden;
}


.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .1s;
  animation-name: fade;
  animation-duration: .1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*slideshow*/

/* mousescroll */

.hero {
	width: 100vw;
	height: 100vh;
	/* background: #444 url('https://source.unsplash.com/random/1600x1000') no-repeat 50% 50%; */
	background-size: cover;
	
  }
  
  .mouse {
	position: absolute;
	box-sizing: border-box;
	z-index: 100;
	left: 50%;
	bottom: 30px;
	width: 30px;
	height: 48px;
	border-radius: 15px;
	border: 2px solid white;
	transform: translateX(-50%) translateZ(0);
  }
  
  .mouse__wheel {
	position: absolute;
	left: 50%;
	margin-left: -2px;
	top: 8px;
	width: 4px;
	height: 9px;
	background: white;
	border-radius: 2px;
	animation: mouse-wheel 1.25s infinite linear;
	transform-origin: 50% 0%
  }
  
  @keyframes mouse-wheel {
	0% {
	  transform: scaleY(.4) translateY(0)
	}
	20% {
	  transform: scaleY(1) translateY(0)
	}
	60% {
	  transform: scaleY(.4) translateY(12px)
	}
	100% {
	  transform: scaleY(.4) translateY(0)
	}
  }


header{
	background-color: #b1a8a4;
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: 'Staatliches', cursive;
	position: static;
	z-index: 1;
}


.home-title{
	color: white;
	letter-spacing: 30px;
	font-size: 17em;
	position: absolute;
	top:20rem;
	left: 50px;
	z-index: 50;
	justify-content: center;
	z-index: 5;
}

.top-img{
	position: relative;
	z-index: 20;
}



header  h3{
	letter-spacing: 10px;
	font-size: 20px;
	margin-top: 20px;
	position: absolute;
	top:0;
	left: 53rem;
	color: white;
	justify-content: center;

}

.btn{
	padding: 13px 14px;
	border: none;
	background-color: white;
	font-size: 13px;
	color: black;
	letter-spacing: 5px;
	position: absolute;
	left: 54rem;
	top: 45rem;
	z-index: 20;
	justify-content: center;
}

.btn:hover{
	transform: scale(1.1);
	transition: .6s;}

/*start of menu css*/

/*nav css*/

.menu1{
	padding: 20px 20px;
	/* border: none; */
	font-size: 25px;
	color: black;
	letter-spacing: 10px;
	position: absolute;
	left: 72em;
	top: 1rem;
	list-style: none;
	z-index: 60;
	height: 30px;

}


.menu{

	/* height: 100px; */

}

.menu-1{

	/*height: 100vh;*/

}

/*submenu1*/

.submenu-1{
			/* background-color: rgba(0,0,0,0.5);
			width: 20rem; */
			/* height: 100vh; */
			/* position: absolute;
			right: 0;
			top: 0;
			color: black; */
			/*z-index: 8;*/
			/* text-align: center;
			visibility: hidden;
			margin: 20px;
			display: block; */

			background-color:rgba(0,0,0,.8);
			width: 20rem;
			height: 30em;
			position: absolute;
			right: 0;
			top: 0;
			color: white;
			z-index: 60;
			text-align: center;
			visibility: hidden;
			display: block;

}


.submenu-1 > div > a{

	position: relative;
	top: 12rem;
	color: white;
	text-decoration: none;
	display: block;

}


.submenu-1 a:hover{
	background-color: lightgray;
}

#megamenu:hover > .submenu-1, #megamenu-1 > .submenu:hover{
	visibility: visible;
}		




.menu1-1{
	padding: 20px 20px;
	border: none;
	background-color: transparent;
	font-size: 25px;
	color: black;
	letter-spacing: 10px;
	position: absolute;
	left:70em;
	top: 1rem;
	list-style: none;
	z-index: 5;
	width: 100px;

}


/*submenu1*/


/*submenu2*/
.submenu-2{
			background-color:rgba(0,0,0,.8);
			width: 20rem;
			height: 100vh;
			position: absolute;
			right: 0;
			top: -16px;
			color: white;
			/*z-index: 8;*/
			text-align: center;
			visibility: hidden;
			margin: 30px;
			display: block;

}


.submenu-2 > div > a{
	font-size: 25px;
	position: relative;
	top: 18rem;
	color: white;
	text-decoration: none;
	letter-spacing: 5px;
	display: block;

}


.submenu-2 a:hover{
	background-color: lightgray;
}

#megamenu:hover > .submenu-2, #megamenu-2 > .submenu:hover{
	visibility: visible;
}		




.menu1-2{
	padding: 20px 20px;
	border: none;
	background-color: transparent;
	font-size: 30px;
	/* color: black; */
	letter-spacing: 10px;
	position: absolute;
	left: 60em;
	list-style: none;
	z-index: 5;
	width: 100px;

}

/*submenu2*/

.submenu{
			background-color:rgba(0,0,0,.8);
			width: 23rem;
			height: 36.8em;
			position: absolute;
			right: 0;
			top: 0;
			color: white;
			z-index: 60;
			text-align: center;
			visibility: hidden;

		}

		

		.submenu > div > a{
			/* font-size: 30px; */
			position: relative;
			top: 12rem;
			color: white;
			text-decoration: none;
			display: block;
		}


		.submenu a:hover{
			background-color: gray;	
		}
		#megamenu:hover{
			visibility: hidden;
		}
		/* #megamenu:hover > .submenu, #megamenu > .submenu:hover{ */
			#megamenu:hover > .submenu{
			visibility: visible;
		}		


/*end of nav*/


.menu__footer{
	position:absolute;
	box-sizing:border-box;
	width:100%;
	padding:30px 60px;
}

.menu__search{
	display:block;
	position:relative;
	top: -10rem;

}

.menu__search__field{
	display:block;
	box-sizing:border-box;
	padding:0 40px 13px 38px;
	margin:0;
	border:none;
	border-bottom:1px solid white;
	border-bottom-color:white;
	width:100%;
	background:url(../images/menu/search.svg) no-repeat 0 3px;color:#FFF;
	font:700 20px/1.2 'Neue Haas Grotesk',Arial,Helvetica,sans-serif;
	-webkit-transition:border-bottom-color .35s;
	transition:border-bottom-color .35s;
}
.menu__search__field::-webkit-input-placeholder{
	color:white;
}

.social{
	position: relative;


}

.container {
	display: inline-block;
	cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
	opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
  }




/*end of home css*/

/*start css of products*/
.works{
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	/* user-select:none; */
	height: 100vh;

}

.works__group{
	position:relative;
	/* min-height:800px;
	max-height:960px; */
	height:100vh;
}

.works__item{
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
	/* width:50%;
	height:50%; */
	background:#FFF;
	/* cursor:pointer; */
}

.works__item__picture{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:no-repeat 50% 50%;
	background-size:contain;
}


.works__item__picture_left-top,.works__item__picture_center-top,.works__item__picture_right-top{
	padding-top:30px;
	margin-top:-30px;
}



.works__item__picture_center-bottom{
	background-position:50% 100%;

}
.works__item__picture_right-top{
	background-position:100% 0%;

}
.works__item__picture_right-center{
	background-position:100% 50%;
}
.works__item__picture_right-bottom{
	background-position:100% 100%;
	
}

.works__item_furniture{
	width:25%;
	height:100%;
}

.works__item_tabletop{
	width:25%;
	height:50%;
	position: relative;
	left: 25rem;
}

.works__item_product{
	width:25%;
	height:50%;
	position: relative;
	left: 25rem;
	
}

.works__item_lighting{
	width:25%;
	height:50%;
	position: absolute;
	top: -58.6rem;
	left: 55rem;
	
}

.works__item_packaging{
	width:25%;
	height:50%;
	position: absolute;
	top: -30.75rem;
	left: 55rem;

}

.works__item_hospitality-residential{
	width:25%;
	height:100%;
	position: absolute;
	top: -58.6rem;
	left: 90rem;

}

.works__item_furniture>img{
	position: relative;
	top: 35px;
	left:-6rem;
	width: 500px;
	height: 600px;
}



.works__item_tabletop>img{
	width: 300px;
	height: 300px;
	position: relative;
}

.works__item_product>img{
	width: 300px;
	height: 300px;
	position: relative;
	/* left: 8rem; */
	top: 2rem; 
}


.works__item_lighting>img{
	width: 300px;
	height: 300px;
	position: relative;
	top: 2rem;
}

.works__item_hospitality-residential>img{
	position: absolute;
	width: 200px;
	height: 350px;
	left: 5rem;
	top: 7rem;
}

.works__item_packaging>img{
	width: 200px;
	height: 200px;
	position: relative;
	left: 4rem;
	top: 4rem;
}

.works__item_furniture:hover{
	background-color: lightgray;
	transition: .0875s;
	-webkit-transition:background-color .35s;
	transition:background-color .35s;
	color: white;

}

.works__item_tabletop:hover{
	background-color: #e3ac22;
	transition: .0875s;
	-webkit-transition:background-color .35s;
	transition:background-color .35s;
	color: white;

}

.works__item_product:hover{
	background-color: #63b8e6;
	transition: .0875s;
	-webkit-transition:background-color .35s;
	transition:background-color .35s;
	color: white;

}
.works__item_lighting:hover{
	background-color: #f07151;
	transition: .0875s;
	-webkit-transition:background-color .35s;
	transition:background-color .35s;
	color: white;

}
.works__item_packaging:hover{
	background-color: #580eb3;
	transition: .0875s;
	-webkit-transition:background-color .35s;
	transition:background-color .35s;
	color: white;

}
.works__item_hospitality-residential:hover{
	background-color: #e66ab0;
	transition: .0875s;
	-webkit-transition:background-color .35s;
	transition:background-color .35s;
	color: white;

}

/* .works__group_left .works__item_1{
	height:100%;
} */
/* .works__group_left .works__item_2{
	left:50%;
} */
	/* .works__group_left .works__item_3{
		left:50%;
		top:50%;
	} */
/* .works__group_right .works__item_2{
	top:50%;
} */
/* .works__group_right .works__item_3{
	left:50%;
	height:100%;
} */

.works__item__content{
	position:absolute;
	left:60px;
	right:60px;
	bottom:48px;
}

.works__item__title{
	display:block;
	width:50px;
	letter-spacing: 5px;
	overflow:visible;
	position:relative;
	left: -2rem;
	padding-top:.17em;
	margin-top:-.17em;
	text-transform:uppercase;
	-webkit-transition:-webkit-transform .35s,color .35s;
	transition:transform .35s,color .35s;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	font-family: 'Staatliches', cursive;
	font-size: 70px;

}

.works__item__title_tabletop{
	position: relative;
	top: 3rem;
	left: -2rem;
	font-family: 'Staatliches', cursive;
	font-size: 70px;
}

.works__item__title-hospitality_residential{
	font-family: 'Staatliches', cursive;
	font-size: 70px;
	position: relative;
	left: -2rem;
}

/*end of css product*/


/*start of collection css*/

.infopage{
	height:105rem;	
	background-color:#ebebeb;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
}

.infopage__title{
	/*position:relative;*/
	/*height:280px;*/
	font-size: 90px;
	font-family: 'Staatliches', cursive;
	color: #ffffff;
	padding: 20px 60px;

}

.grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px 220px;
  padding: 2px;
  grid-gap: 10px;
  margin: 0 60px;

}
.grid-item {
  padding: 10px;
}

.grid-item>img{
	width: 200px;
	height: 250px;
	/* -webkit-box-shadow: 0px 0px 14px 17px rgba(212,212,212,1);
	-moz-box-shadow: 0px 0px 14px 17px rgba(212,212,212,1);
	box-shadow: 0px 0px 14px 17px rgba(212,212,212,1); */

}

.mySlides > img{
	width: 100%;
	height: 33rem;
	/* position: relative;
	left: 18rem; */
}

/* .grid-item>img:hover{
	transform: scale(2.5);
	transition: .6s;
	-webkit-box-shadow: 0px 0px 14px 17px rgba(212,212,212,1);
	-moz-box-shadow: 0px 0px 14px 17px rgba(212,212,212,1);
	box-shadow: 0px 0px 14px 17px rgba(212,212,212,1);
} */

.row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
	float: left;
	width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 40%;
	height: 33rem;
	max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 10px;
	left: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Caption text */
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }

  .demo{
	  width: 20%;
	  height: 30rem;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* about */



.overview{
	/* height: 100vh; */
	/* width: 70vw; */
	display: flex;
	background-color: #ebebeb;

}

.about-photo{
	
	height: 100vh;
	/*background:url(../images/about2.png);*/
	/*background-size: cover;
	background-position: center;*/

}

.about-photo>img{
	position: absolute;
	width: 95rem;
	height: 43rem;
	left: -19rem;
	top: 0;
}

.about-plot{
	width: 20rem;	
	/* height: 100vh; */
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	left: 60rem;

}



.about-plot>p{
	position: relative;
	top:15rem;
	padding: 20px;
	letter-spacing: 2px;	
}

.about-plot>.plot2{
	position: relative;
	font-size: 11px;
	top: 15rem;
	letter-spacing: 2px;
	padding: 20px;

}


.about-title{
	position: absolute;
	top: 5rem;
	font-size: 100px;
	color: #b1a8a4;
	letter-spacing: 5px;
	left: 52rem;	
}

/* contact */

.contact{
	height: 100vh;
	width: 100vw;
	background-color: #ebebeb;
	display: flex;
	justify-content: center;
}

.contact-us{
	height: 100vh;
	width: 50%;

}

.map{
	height: 100vh;
	width: 50%;
	position: relative;
	top: -9rem;
}

iframe{
	height: 100%;
	width: 100%;
	
}

.contact-title{
	font-size: 100px;
	position: relative;
	z-index: 1;	
	margin: 0 80px;
	color: black;

}

#br1{
	font-size: 25px;
	position: relative;
	top: 3rem;
	left: 10rem;
}

.contact-info>h1>i{
	font-size: 10px;
	padding: 10px;	
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 5rem;
	left: 8rem;
	font-family: 'Open Sans', sans-serif;
	display: block;

}

/* .menu__footer1{
	position:absolute;
	box-sizing:border-box;
	bottom:0;
	left:0;
	width:50%;
	padding:30px 60px;
} */

/* .menu__search1{
	display:block;
	position:relative;
	margin-bottom:40px;

} */
/* 
.menu__search__field1{
	display:block;
	box-sizing:border-box;
	padding:0 40px 13px 38px;
	margin:0;
	border:none;
	border-bottom:1px solid #FFF;
	border-bottom-color:black;
	width:100%;
	background:url(../images/menu/search.svg) no-repeat 0 3px;color:#FFF;
	/*font:700 30px/1.2 'Neue Haas Grotesk',Arial,Helvetica,sans-serif;*/
	/* -webkit-transition:border-bottom-color .35s;
	transition:border-bottom-color .35s;


}
.menu__search__field1::-webkit-input-placeholder{
	color:gray;
}  */

.social1>i{
	position: relative;
	top: 15rem;
	left: 9rem;
	text-align: center;		

}


/*media queries*/

@media only screen and (min-width: 426px) and (max-width: 768px){
	header{
		position: relative;
		width: 100vw;
		padding:15.5rem;
		height: 487px;
	}

	.home-title{
	top:25rem;
	left: 65px;
	z-index: 2;
}

	.top-img{
		position: relative;
		z-index: 5;
}



	header  h3{
		top: 10rem;
		font-size: 40px;
		left: 32rem;

}

	.btn{
		letter-spacing: 5px;
		padding: 20px 30px;
		position: absolute;
		left: 35rem;
		top: 46rem;
		
}


	.slideshow-container > .mySlides > img{
	height: 685px;
	bottom: 40px;

}

	.works{
		width: 79rem;
		height: 163rem;
	}

	.works__group{
		width: 79rem;
	}

	

	.overview{
		padding: 17rem;
		margin: 0;
		width: 50rem;

	}

	.about-plot{
	
		/*background-color: black;	*/
		font-size:30px;
		top:-17rem;
		left: 17rem;	
		position: relative;
		width: 80rem;
		height: 98rem;

	}
	#plot1{
		font-weight: bold;
	}

	.about-plot>p{

		position: absolute;
		left: 0;
		top: 30rem;
		width: 30rem;
		padding: 30px;
	}

	.about-plot>.plot2{
		position: absolute;
		top: 47rem;
		font-size: 25px;
		padding: 30px;
	}



	.about-photo>img{
		width: 90rem;
		height: 90rem;
		position: absolute;
		top: 3rem;
		left: -19rem;
		padding: 0;
		margin: 0;
	}

	.about-title{
		font-size: 200px;
	}

	.menu1-2{
		position: absolute;
		left:73rem;
		top: 30px;
		z-index: 5;
	}

	.submenu-2{
		background-color: #ebebeb;
		top:-50px;
		left: -18rem;
	}

	.contact{
		width: 52.9rem;
		background-position: center;
		background-size: cover;
	}
	.map>iframe{
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;	
	}

	.contact-title{
		top: -10rem;
		left: -12rem;
}

	.contact-info>h1{
		width: 30rem;
		left: -12rem;
		top: -5rem;	
		font-size: 30px;	
		padding: 20px;

	}

	#br1{
		font-size: 70px;
	}

	.menu__search1{
		/*visibility: hidden;*/
		top: -25rem;
		left: 0rem;
	}

	.menu__search__field1{
		font-size: 35px;
		width: 35rem;
	}

	.social1{
		left: -8rem;
	}
	.social1>i{
		margin: 10px;
		font-size: 60px;
	}

	.menu__footer{
		visibility: hidden;
	}

	.social{
		visibility: hidden;
	}

	.submenu > div > a{
		font-size: 60px;
		padding: 20px;
		margin: 50px;
		display: block;
	}

	.submenu{
		width: 30rem;
		left: -25rem;
		height: 60.4rem;

	}

	.grid-container {
	  display: grid;
	  grid-template-columns: 350px 350px 350px;
	  width: 70rem;
	  grid-gap: 40px;
	  margin: 50px;
	}

	.infopage{
		padding:0;
		width: 81rem;
		box-sizing: border-box;
		height: 325rem;
				
	}

	.grid-item>img{
	width: 350px;
	height: 400px;
}


	.submenu-1 > div > a{
		font-size: 70px;
		padding: 20px;
		margin: 50px;
		display: block;
	}

	.submenu-1{
		width: 30rem;
		left: -25rem;
		height: 60.4rem;

	}

	.menu1{
		font-size: 50px;
		left: 72rem;
		color: white;
	}

	.menu1-1{
		font-size: 50px;
		left: 72rem;

	}

	.menu1-2{
		font-size: 50px;
		left: 72rem;

	}

	.submenu-2 > div > a{
		font-size: 70px;
		padding: 20px;
		margin: 50px;
		display: block;
	}

	.submenu-2{
		width: 35rem;
		left: -25rem;
		height: 64rem;

	}
}


@media only screen and (max-width: 425px){
	header{
		position: relative;
		width: 48rem;
		padding:15.5rem;
		height: 487px;
	}

	.home-title{
	top:25rem;
	left: 65px;
	z-index: 2;
}

	.top-img{
		position: relative;
		z-index: 5;
}



	header  h3{
		top: 10rem;
		font-size: 40px;
		left: 32rem;

}

	.btn{
		letter-spacing: 5px;
		padding: 20px 30px;
		position: absolute;
		left: 35rem;
		top: 46rem;
		
}


	.slideshow-container > .mySlides > img{
	height: 685px;
	bottom: 40px;

}

	.works{
	

		width: 79rem;
		height: 100rem;
	}

	.works__group{
		width: 79rem;
	}

	.menu1{
		font-size: 50px;
		left: 72rem;
		color: white;
	}


	.menu__footer{
		visibility: hidden;
	}

	.social{
		visibility: hidden;
	}

	.submenu > div > a{
		font-size: 60px;
		padding: 20px;
		margin: 50px;
		display: block;
	}

	.submenu{
		width: 30rem;
		left: -25rem;
		height: 60.4rem;

	}

	.grid-container {
	  display: grid;
	  grid-template-columns: 600px 600px;
	  width: 70rem;
	  grid-gap: 40px;
	  margin: 70px;
	}

	.infopage{
		padding:0;
		width: 82rem;
		box-sizing: border-box;
		height: 523rem;
				
	}

	.grid-item>img{
	width: 500px;
	height: 550px;
}

	.submenu-1 > div > a{
		font-size: 70px;
		padding: 20px;
		margin: 50px;
		display: block;
	}

	.submenu-1{
		width: 30rem;
		left: -25rem;
		height: 60.4rem;

	}

	.menu1-1{
		font-size: 70px;
		left: 70rem;
		top: 3rem;

	}	

	.overview{
		padding: 17rem;
		margin: 0;
		height: 112rem;
		width: 67rem;

	}

	.about-plot{
	
		/*background-color: black;	*/
		/*font-size:30px;*/
		top:56rem;
		left: -17rem;	
		position: relative;
		height:  20rem;
		padding: 30rem 50.5rem;


	}

	#plot1{
		font-weight: bold;
	}
	.about-plot>p{

		position: absolute;
		left: 3rem;
		top: 27rem;
		width: 80rem;
		font-size: 60px;
		/*padding: 20px;*/

	}

	.about-plot> .plot2{
		top: 50rem;
		position: absolute;
		font-size: 50px;

	}



	.about-photo>img{
		width: 120rem;
		height: 90rem;
		position: absolute;
		top: 0;
		left: -19rem;
		padding: 0;
		margin: 0;
	}

	.about-title{
		font-size: 300px;
		left: 5rem;
		top: 80rem;
	}

	.menu1-2{
		font-size: 70px;
		left: 82rem;
		top: 4rem;
	}

	.submenu-2{

		background-color: #ebebeb;
		top:-50px;
		left: -25rem;
		height: 70rem;
		width: 30rem;
	}

	.submenu-2 > div > a{
		font-size: 70px;
		padding: 20px;
		margin: 50px;
		display: block;
	}

	.contact{
		width: 60rem;
		background-position: center;
		background-size: cover;
	}
	.map>iframe{
		width: 91rem;
		height: 90rem;
		position: absolute;
		top: 72.5rem;
		left: 0;	
	}

	.contact-title{
		top: -10rem;
		left: -34rem;
}

	.contact-info>h1{
		width: 50rem;
		left: -12rem;
		top: -10rem;	
		font-size: 40px;	
		text-align: center;
		letter-spacing: 2px;
	}

	#br1{
		font-size: 80px;
		font-weight: bold;
		letter-spacing: 3px;
	}

	.menu__search1{
		/*visibility: hidden;*/
		top: -8rem;
		left: 8rem;
	}

	.menu__search__field1{
		font-size: 70px;
		width: 70rem;
	}

	.social1{
		width: 50rem;
		left: -11rem;
		top: 0;	
	}
	.social1>i{
		margin: 40px;
		font-size: 90px;
	}


}

@media only screen and (min-width: 769px) and (max-width: 1280px){
	.slideshow-container > .mySlides > img{
	height: 93.5vh;
	bottom: 40px;
	}

	.submenu{
		height: 47.5rem;

	}

	.social{
		top: 28rem;
	}

	.social>i{
		font-size: 40px;
	}

	.menu__footer{
		top: 33rem;
	}

	.menu-1{
		left: 65rem;
	}

	.contact-info>h1{
		margin-left: 10px;
		letter-spacing: 2px;
		font-size: 16px;
		top: -1rem;
	}

	.map>iframe{
		width: 41rem;
		height: 35.5rem;
		top: 15rem;
		position: relative;
	}

	.contact{
		width: 83rem;
		height: 51rem;
	}

	.menu__search1{
		top: -2rem;
		left: 0rem;
	}

	.menu__search__field1{
		font-size: 30px;
		width: 34rem;
	}

	.social1{
		width: 50rem;
		left: -6rem;
		top: 10rem;	
	}
	.social1>i{
		margin: 20px;
		font-size: 50px;
	}

	.contact-title{
		left: 13rem;
	}

}
	






















